<template name="navigation">
	<div class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <a href="../" class="navbar-brand">Planer</a>
          <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            
            <span class="icon-bar"></span>
          </button>
        </div>

        <div class="navbar-collapse collapse" id="navbar-main">
          <ul class="nav navbar-nav">
          	{{#if currentUser}}
	            <li>
	              <a href="/courses">Courses</a>
	            </li>
	            <li>
	              <a href="/discuss">Discuss</a>
	            </li>
               <li>
                <a href="/about">About</a>
              </li>
	            <li class="dropdown">
	              <a class="dropdown-toggle" data-toggle="dropdown" href="#" id="download">Drop <span class="caret"></span></a>
	              <ul class="dropdown-menu" aria-labelledby="download">
	                <li><a href="/">Todo</a></li>
	                <li><a href="/">Todo</a></li>
	                <li class="divider"></li>
	                <li><a href="/">Todo</a></li>
	                <li><a href="/">Todo</a></li>
	              </ul>
	            </li>
	        {{/if}}
          </ul>

          <ul class="nav navbar-nav navbar-right">
          	{{#if currentUser}}
          		{{>logoutForm}}
          	{{else}}
          		<li><a href="/loginForm">Log In</a></li>
          	{{/if}}
            
          </ul>

        </div>
	</div>
</div>

</template>


