<template name="newTask">
	<div class="container">
		<div class="row">
			<div class="col-md-10 col-lg-10">
				<h2>New Task</h2>
				<input type="text" id="taskTitle" class="form-control" placeholder="Task Title"><br>
				<textarea class="form-control" rows="3" id="taskInfo" placeholder="Task Info"></textarea><br>
				<input type="text" id="taskDueDate" class="form-control" placeholder="Due Date"><br>

				<button type="submit" class="btn btn-primary submitTask">Submit</button>
			</div>
		</div>
	</div>
</template>