<template name="newSubChapter">
	<div class="container">
		<div class="row">
			<div class="col-md-10 col-lg-10">
				<h2>New SubChapter</h2>
				<input type="text" id="newSubChapter-subChapterTitle" class="form-control" placeholder="Subchapter title"><br>
				<textarea class="form-control" rows="3" id="summary"></textarea>
				<br>
				<div class="btn-group btn-group-justified">
					  <a href="#" class="btn btn-primary submitSubChapter">Save</a>
					  <a href="#" class="btn btn-default"></a>
					  <a href="#" class="btn btn-primary backSubChapter">Cancel</a>
					  
				</div>
			</div>
		</div>
	</div>
</template>