<template name="subChapterItem">
	{{#each subChapterItemList}}
		<a class="btn btn-default btn-lg btn-block" id="selected_subChapter">{{subChapter}} -  {{status}}</a>
			{{#if selected_subChapter}}
			<div class="jumbotron jumbotron-subChapter">
				<div class="jumbotron-subChapter-header">
					<h2>Summary</h2>
				</div>
				<div class="jumbotron-subChapter-content">
					<h3>{{summary}}</h3><br>
					<h4>Due Date: 4/4/14</h4>
				</div>
				<div class="jumbotron-subChapter-footer">
					<a class="btn btn-primary editSubChapter">Edit</a>
					{{#if knowItSubChapter}}
						<a class="btn btn-primary dontKnowItSubChapter">Don't know it?</a><br>
					{{else}}
						<a class="btn btn-primary knowItSubChapter">Know it?</a><br>
					{{/if}}

				</div>
					
			</div>
			{{/if}}

	{{/each}}
</template>