<template name="loginForm">
	<div class="container">
		<div class="row">
			<div class="col-md-6 col-lg-6">
				<form id="login-form">
					<h2>Log In</h2>
					<label for="login-username">Username</label>
					<input type="text" id="login-username" class="form-control" placeholder="Username">

					<label for="login-password">Password</label>
					<input type="password" id="login-password" class="form-control" placeholder="Password">

					<button type="submit" class="btn btn-primary">Log In</button>
					<button class="btn btn-primary sign-up">Sign Up</button>
				</form>
			</div>
		</div>
	</div>
</template>
