<template name="signupForm">
	<div class="container">
		<div class="row">
			<div class="col-md-6 col-lg-6">
				<form id="signup-form">
					<h2>Sign Up</h2>

					<label for="signup-username">Username</label>
					<input type="text" id="signup-username" class="form-control" placeholder="Username">

					<label for="signup-email">Email</label>
					<input type="text" id="signup-email" class="form-control" placeholder="Email">

					<label for="signup-password">Password</label>
					<input type="password" id="signup-password" class="form-control" placeholder="Password">

					<label for="signup-name">Full Name</label>
					<input type="text" id="signup-name" class="form-control" placeholder="Full Name">

					<button class="btn btn-primary" type="submit">Sign Up</button>

				</form>
			</div>
		</div>
	</div>
</template>