<template name="newDiscussCourse">
	<div class="container">
		<div class="row">
			<div class="col-md-10 col-lg-10">
				<h2>New Course</h2>
				<input type="text" id="newDiscussCourseTitle" class="form-control" placeholder="Course title"><br>
				<br>
				<div class="btn-group btn-group-justified">
					  <a href="#" class="btn btn-primary submitNewDiscussCourse">Submit</a>
					  <a href="#" class="btn btn-default"></a>
					  <a href="#" class="btn btn-primary cancelNewDiscussCourse">Cancel</a>
					  
				</div>
			</div>
		</div>
	</div>
</template>