<template name="newQuestion">
	<div class="container">
		<div class="row">
			<div class="col-md-10 col-lg-10">
				<h2>New Question</h2>
				<input type="text" id="newQuestionTitle" class="form-control" placeholder="Question title"><br>
				<textarea class="form-control" rows="3" id="newQuestionText" placeholder="Ask question here"></textarea>
				<br>
				<div class="btn-group btn-group-justified">
					  <a href="#" class="btn btn-primary submitNewQuestion">Submit</a>
					  <a href="#" class="btn btn-default"></a>
					  <a href="#" class="btn btn-primary cancelNewQuestion">Cancel</a>
					  
				</div>
			</div>
		</div>
	</div>
</template>